<!Doctype Html>
<html lang="en">
<Head>
        <meta charset="UTF-8">
        <title>Home</title>
</Head>
<Body>
<div th:insert="../static/navigationbar.html"></div>
</Body>
</Html>



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="topnav">-->
<!--    <a class="home" href="home">home</a>-->
<!--    <a href="product/all">Products</a>-->
<!--    <a href="order/all">Orders</a>-->
<!--    <a href="orderDetail/all">Order details</a>-->
<!--    <a href="shippers/all">Shippers</a>-->
<!--    <a href="Customers/all">Customers</a>-->
<!--</div>-->


<!--</body>-->
<!--</html>-->